@import url(./gilroy.css);

.container{
    font-family: 'Gilroy-Regular';
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
button{
    border: none;
    text-decoration: none;
}
.header{
    min-width: 320px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    transition: 0.3s;
}
.header__item{
    display: block;
}
.btn{
    background-color: transparent;
    color: #828282;
    font-size: 23px;
    font-weight: 700;
    transition: 0.3s;
}
.btn:hover{
    color: #000;
}
.about__header{
    min-width: 320px;
    border-top: solid #828282 3px;
    display: flex;
}
.about__header--name{
    margin-top: 76.5px;
    line-height: 58.61px;
    font-size: 47px;
    font-weight: 700;
    max-width: 124px;
}
.about__header--info{
    margin-left: 555px;
    margin-top: 104px;
    max-width: 155px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.about__header--lang{
    font-size: 16px;
    line-height: 20px;
    transform: rotate(-90deg);
    margin-left: auto;
    margin-top: 71px;
    height: 30px;
}

.about__foto{
    width: 938px;
    height: 387px;
    margin: 0 auto;
    background-image: url(./chelik-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.about__text{
    text-align: center;
    margin-top: 88px;
    padding: 110px;
    max-height: 510px;
}
.about__text--content{
    font-size: 18px;
    margin-top: 20px;
    line-height: 22px;
    max-width: 485px;
    margin: 0 auto;
}
.about__text--text{
    padding-bottom: 50px;
    text-align: center;
    margin-top: 70px;
}
h2{
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
}
.icon{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.icon__icon{
    margin: 25px;
    text-align: center;
}
.icon__icon--text{
    text-align: center;
}









@media (max-width: 1100px) {
    .about__header{
        justify-content: start ;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .about__header--info{
        margin: 10px auto;
    }
    .about__header--lang{
        display: none;
        margin: 0;
    }
    .about__header--name{
        margin: 10px  auto;
    }   
    .about__foto{
        margin-top: -45px;
    }
}
@media (max-width: 938px) {
    .about__foto--mob{
        margin-top: -65px;
        background-image: url(./chelik-mob.svg);
        width: 317px;
        height: 478px;
    }
 
}